
.crystal {
	border : 1px solid green;
    height: 150px;
    width: 150px;
    border-radius: 4px;

}

.crystals {
    display:flex;
    justify-content: space-around;
    align-items:center;
    width:50%;

}
 img{
    width:50px;
 }

 header {
    text-align: center;
    font-size: 35px;
    background-color: darkgrey;
    color: darkviolet;
    height: 50px;
 }
#result {
    font-size:30px;
}
